Repository sillsdev/SemanticDomainConversions, pull requests merged in 2022-04, with the labels that each got.

#7 Add parsing exceptions
  .gitmodules
  py-doc-to-xml/docx_to_xml/doc1.py
  py-doc-to-xml/docx_to_xml/types.py
  py-doc-to-xml/main.py
  py-doc-to-xml/requirements.in
  py-doc-to-xml/requirements.txt
Labels: bug, docx parsing

#8 Add a --warnings option
  py-doc-to-xml/README.md
  py-doc-to-xml/docx_to_xml/doc1.py
  py-doc-to-xml/main.py
  py-doc-to-xml/semantic_domain_subs.py
Labels: enhancement, docx parsing

#9 Dict for semantic domains
  py-doc-to-xml/docx_to_xml/doc1.py
  py-doc-to-xml/docx_to_xml/types.py
Labels: docx parsing

#11 Generate xml
  py-doc-to-xml/docx_to_xml/doc1.py
  py-doc-to-xml/docx_to_xml/semantic_domain.py
  py-doc-to-xml/docx_to_xml/semantic_domain_xml.py
  py-doc-to-xml/docx_to_xml/types.py
  py-doc-to-xml/docx_to_xml/util.py
  py-doc-to-xml/main.py
  py-doc-to-xml/semantic_domain_subs.py
Labels: docx parsing, xml generation

#14 Check if translation has example sentences when it shouldn't
  py-doc-to-xml/docx_to_xml/semantic_domain_xml.py
  py-doc-to-xml/semantic_domain_subs.py
Labels: xml generation

#15 In parsing, enforce (#) style on question numbers
  py-doc-to-xml/docx_to_xml/util.py
Labels: docx parsing

#16 Check for '-'-filled example_words
  py-doc-to-xml/semantic_domain_subs.py
Labels: xml generation
